@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	body {
		@apply bg-base;
	}

	.touch-action {
		touch-action: none;
	}

	.line-clamp-1 {
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
	}

	.line-clamp-2 {
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}

	/* width */
	::-webkit-scrollbar {
		@apply w-2;
	}

	/* Track */
	::-webkit-scrollbar-track {
		@apply bg-base-100;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		@apply bg-primary/70 rounded-md;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		@apply bg-primary;
	}

	.SelectScrollButton {
		@apply flex items-center justify-center w-full py-0.5;
	}
}
